<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Item Master</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Belajar Spring Boot + AngularJS</h1>
                <p>Tempat buat belajar spring boot dan Angular JS serta sedikit BootStrap buat tampilan.</p>
            </div>
            <div class="page-header">
                <h2>Master Item</h2>
            </div>
            <fieldset class="collapsible">
                <form>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="txt-code" class="control-label">Code</label>
                            <input type="text" class="form-control" id="txt-code" placeholder="code" />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="txt-name" class="control-label">Name</label>
                            <input type="text" class="form-control" id="txt-name" placeholder="name"/>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="txt-price" class="control-label">Price</label>
                            <input type="text" class="form-control" id="txt-price" placeholder="price"/>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="txt-cost" class="control-label">Cost</label>
                            <input type="text" class="form-control" id="txt-cost" placeholder="cost"/>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="txt-stock" class="control-label">Stock</label>
                            <input type="text" class="form-control" id="txt-stock" placeholder="stock"/>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="txt-expired-date" class="control-label">Expired Date</label>
                            <input type="text" class="form-control" id="txt-expired-date" placeholder="expired date"/>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    </body>
</html>
