<div>
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px" ng-click="openAddModal()">Add Item</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th align="right">Price</th>
                <th align="right">Cost</th>
                <th align="right">Stock</th>
                <th>Expired Date</th>
                <th align="center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td align="right">{{item.price| currency:'Rp ' : 2}}</td>
                <td align="right">{{item.cost| currency: 'Rp ' : 2}}</td>
                <td align="right">{{item.stock}}</td>
                <td>{{item.expiredDate|date}}</td>
                <td align="center">
                    <button class="btn btn-success" ng-click="openEditModal(item)">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteConfirm(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Item</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Code</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="code" ng-readonly="true">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="name">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Price</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="price" ng-currency currency-symbol="">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Cost</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cost" ng-currency currency-symbol="">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Stock</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="stock" ng-currency currency-symbol="">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Expired Date</label>
                    <div class="col-md-8">
                        <!--<input type="text" class="form-control" ng-model="expiredDate">-->
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="expiredDate" is-open="popup.opened" datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="deleteConfirm.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label"> Are you sure want to delete {{itemCode}} ?</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="yes()">Yes</button>
            <button type="button" class="btn btn-danger" ng-click="no()">No</button>
        </div>
    </script>
</div>