<div class="col-md-6">
    <div class="alert alert-danger" ng-show="error">
        Invalid Username & Password
    </div>
    <form role="form" ng-submit="login()">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label col-md-3">Username</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username" />
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="password" class="control-label col-md-3">Password</label>
                <div class="col-md-7">
                    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" />
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-9 pull-right">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>